*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.dll
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
!*.sln
!*.vcproj
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

*resharper.user
# Visual Studio
[Dd]ebug/
[Rr]elease/
*.suo
*.csproj.user

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/

