<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <extensions>
      <add assembly="NlogViewer" />
    </extensions>
    <targets>
      <target type="NlogViewer" name="ctrl" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="ctrl" />
    </rules>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>