<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/Errors.txt" />
    <target name="dailyScrapeLog" xsi:type="File" fileName="${basedir}/Logs/${date:format=dd-MM-yyyy}/ScrapeLog.txt" />
  <target name="mail" xsi:type="Mail" 
           html="true" 
           subject="Talis Scrape Error" 
           body="An error occurred with the nightly talis scrape: ${message}"
           to="withersc@bham.ac.uk"
           from="withersc@bham.ac.uk"
           Encoding="UTF-8"
           smtpUsername="username"
           enableSsl="false"
           smtpPassword="password"
           smtpServer="smtp.bham.ac.uk"
           smtpPort="25" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="dailyScrapeLog" />
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Off" writeTo="mail" />
  </rules>
  

</nlog>

