@using Extensions
@using TalisScraper.Objects
@model IEnumerable<TalisScraper.Objects.JsonMaps.Element>

@if (Model.HasContent())
{
    var browsable = ViewData["browsable"] != null;

    foreach (var item in Model)
    {
        <div>
            @if (item.Value.Contains("/items/"))
            {<span class="glyphicon glyphicon-book" aria-hidden="true"></span>}

            @if (browsable)
            {
                <a href="@string.Format("/?id={0}.json", item.Value)">@item.Value</a>
            }
            else
            {
                @item.Value
            }
        </div>
    }
}