@model TalisScraper.Objects.JsonMaps.NavItem
@{
    ViewBag.Title = "Index";
}

<button style="margin-top: 50px;" id="Scrape">Scrape</button>
<button style="margin-top: 50px;" id="CancelScrape">Cancel Scrape</button>
<div id="Messages" style="width: 80%; height: 400px; overflow-y: scroll;">

</div>
<br/>
<div id="Reports" style="width: 80%; height: 400px; overflow-y: scroll;">

</div>

@section FooterScripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>


<script>
    $(function () {
        var scrapeHub = $.connection.scrapeHub;

        scrapeHub.client.doMessage = function (message) {
            $("#Messages").prepend("<p>" + message + "</p>");
        };

        scrapeHub.client.doReport = function (message) {
            $("#Reports").prepend("<p>" + message + "</p>");
        };

        $.connection.hub.start().done(function () {
            scrapeHub.server.joinGroup('doScrape');
            scrapeHub.server.joinGroup('scrapeReports');
            console.log("Now connected(" + $.connection.hub.id + ")");

        }).fail(function () {
            console.log("Connected failed!");
        });

        $("#Scrape").click(function () {
            $.getJSON("http://localhost:49867/Test/InitiateScrape", function() {
                
            });
        });

        $("#CancelScrape").click(function () {
            $.getJSON("http://localhost:49867/Test/CancelScrape", function () {

            });
        });
    });
</script>
}